@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar {
	scrollbar-width: thin;
	scrollbar-color: rgba(245, 245, 245, .4) rgba(129, 140, 248, .6);
  }

.scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

.scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: rgba(245, 245, 245, .4);
}

.scrollbar::-webkit-scrollbar-thumb {
    background: rgba(129, 140, 248, .6);
    border-radius: 100vh;
    border: 2px solid rgba(245, 245, 245, .3);
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(79, 70, 229, .6);
}